<% provide(:title, "Polityka prywatności") %>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>

<div class="page-header">
  <h1>Polityka prywatności serwisu grajnamaxa.pl</h1>
</div>
 
<h4>1. Informacje ogólne.</h4>
<ul class="list-unstyled">
<li>1.	Operatorem Serwisu grajnamaxa.pl jest … [pełne dane rejestrowe]</li>
<li>2.	Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:</li>
<ul class="list-unstyled">
<li>a.	Poprzez dobrowolnie wprowadzone w formularzach informacje.</li>
<li>b.	Poprzez zapisywanie w urządzeniach końcowych pliki cookie (tzw. "ciasteczka").</li>
<li>c.	Poprzez gromadzenie logów serwera www przez operatora hostingowego "nazwa operatora", funkcjonującego pod adresem "adres"</li>
</ul>
</ul>
<h4>2. Informacje w formularzach.</h4>
<ul class="list-unstyled">
<li>1.	Serwis zbiera informacje podane dobrowolnie przez użytkownika.</li>
<li>2.	Serwis może zapisać ponadto informacje o parametrach połączenia (oznaczenie czasu, adres IP)</li>
<li>3.	Dane w formularzu nie są udostępniane podmiotom trzecim inaczej, niż za zgodą użytkownika.</li>
<li>4.	Dane podane w formularzu mogą stanowić zbiór potencjalnych klientów, zarejestrowany przez Operatora Serwisu w rejestrze prowadzonym przez Generalnego Inspektora Ochrony Danych Osobowych.</li>
<li>5.	Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, np w celu dokonania procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego.</li>
<li>6.	Dane podane w formularzach mogą być przekazane podmiotom technicznie realizującym niektóre usługi – w szczególności dotyczy to przekazywania informacji o posiadaczu rejestrowanej domeny do podmiotów będących operatorami domen internetowych (przede wszystkim Naukowa i Akademicka Sieć Komputerowa j.b.r – NASK), serwisów obsługujących płatności lub też innych podmiotów, z którymi Operator Serwisu w tym zakresie współpracuje.</li>
</ul>
<h4>3. Informacja o plikach cookies.</h4>
<ul class="list-unstyled">
<li>1.	Serwis korzysta z plików cookies.</li>
<li>2.	Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.</li>
<li>3.	Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu.</li>
<li>4.	Pliki cookies wykorzystywane są w następujących celach:</li>
<ul class="list-unstyled">
<li>a.	tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości;</li>
<li>b.	utrzymanie sesji Użytkownika Serwisu (po zalogowaniu), dzięki której Użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła;</li>
<li>c.	określania profilu użytkownika w celu wyświetlania mu dopasowanych materiałów w sieciach reklamowych, w szczególności sieci Google.</li>
</ul>
<li>5.	W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.</li>
<li>6.	Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików cookies Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.</li>
<li>7.	Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu.</li>
<li>8.	Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu i wykorzystywane mogą być również przez współpracujących z operatorem Serwisu reklamodawców oraz partnerów.</li>
<li>9.	Zalecamy przeczytanie polityki ochrony prywatności tych firm, aby poznać zasady korzystania z plików cookie wykorzystywane w statystykach: Polityka ochrony prywatności Google Analytics<li>
<li>10.	Pliki cookie mogą być wykorzystane przez sieci reklamowe, w szczególności sieć Google, do wyświetlenia reklam dopasowanych do sposobu, w jaki użytkownik korzysta z Serwisu. W tym celu mogą zachować informację o ścieżce nawigacji użytkownika lub czasie pozostawania na danej stronie.</li>
<li>11.	W zakresie informacji o preferencjach użytkownika gromadzonych przez sieć reklamową Google użytkownik może przeglądać i edytować informacje wynikające z plików cookies przy pomocy narzędzia: https://www.google.com/ads/preferences/</li>
</ul>
<h4>4. Logi serwera.</h4>
<ul class="list-unstyled">
<li>1.	Informacje o niektórych zachowaniach użytkowników podlegają logowaniu w warstwie serwerowej. Dane te są wykorzystywane wyłącznie w celu administrowania serwisem oraz w celu zapewnienia jak najbardziej sprawnej obsługi świadczonych usług hostingowych.</li>
<li>2.	Przeglądane zasoby identyfikowane są poprzez adresy URL. Ponadto zapisowi mogą podlegać:</li>
<ul class="list-unstyled">
<li>a.	czas nadejścia zapytania,</li>
<li>b.	czas wysłania odpowiedzi,</li>
<li>c.	nazwę stacji klienta – identyfikacja realizowana przez protokół HTTP,</li>
<li>d.	informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP,</li>
<li>e.	adres URL strony poprzednio odwiedzanej przez użytkownika (referer link) – w przypadku gdy przejście do Serwisu nastąpiło przez odnośnik,</li>
<li>f.	informacje o przeglądarce użytkownika,</li>
<li>g.	Informacje o adresie IP.</li>
</ul>
<li>3.	Dane powyższe nie są kojarzone z konkretnymi osobami przeglądającymi strony.</li>
<li>4.	Dane powyższe są wykorzystywane jedynie dla celów administrowania serwerem.</li>
</ul>
<h4>5. Udostępnienie danych.</h4>
<ul class="list-unstyled">
<li>1.	Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach prawnie dozwolonych.</li>
<li>2.	Dane umożliwiające identyfikację osoby fizycznej są udostępniane wyłączenie za zgodą tej osoby.</li>
<li>3.	Operator może mieć obowiązek udzielania informacji zebranych przez Serwis upoważnionym organom na podstawie zgodnych z prawem żądań w zakresie wynikającym z żądania.</li>
</ul>
<h4>6. Zarządzanie plikami cookies – jak w praktyce wyrażać i cofać zgodę?</h4>
<ul class="list-unstyled">
<li>1.	Jeśli użytkownik nie chce otrzymywać plików cookies, może zmienić ustawienia przeglądarki. Zastrzegamy, że wyłączenie obsługi plików cookies niezbędnych dla procesów uwierzytelniania, bezpieczeństwa, utrzymania preferencji użytkownika może utrudnić, a w skrajnych przypadkach może uniemożliwić korzystanie ze stron www</li>
<li>2.	W celu zarządzania ustawieniami cookies wybierz z listy poniżej przeglądarkę internetową/ system i postępuj zgodnie z instrukcjami:</li>
<ul class="list-unstyled">
<li>a.	<%= link_to "Internet Explorer", "http://support.microsoft.com/kb/196955", target: "_blank" %></li>
<li>b.	<%= link_to "Chrome", "https://support.google.com/chrome/answer/95647?hl=pl", target: "_blank" %></li>
<li>c.	<%= link_to "Safari", "http://support.apple.com/kb/PH5042", target: "_blank" %></li>
<li>d.	<%= link_to "Firefox", "https://support.mozilla.org/pl/kb/Włączanie%20i%20wyłączanie%20obsługi%20ciasteczek", target: "_blank" %></li>
<li>e.	<%= link_to "Opera", "http://help.opera.com/Windows/12.10/pl/cookies.html", target: "_blank" %></li>
<li>f.	<%= link_to "Android", "https://support.google.com/chrome/answer/95647?hl=pl", target: "_blank" %></li>
<li>g.	<%= link_to "Safari (iOS)", "http://support.apple.com/pl-pl/HT1677", target: "_blank" %></li>
<li>h.	<%= link_to "Windows Phone", "http://www.windowsphone.com/pl-pl/how-to/wp7/web/changing-privacy-and-other-browser-settings", target: "_blank" %></li>
<li>i.	<%= link_to "Blackberry", "http://docs.blackberry.com/en/smartphone_users/deliverables/32004/Turn_off_cookies_in_the_browser_60_1072866_11.jsp",target: "_blank" %></li>
</ul>
</ul>