<% provide(:title, @category.name) %>
<% provide(:description, @category.name) %>
<% provide(:keyword, "Gry kategorii #{@category.name}, za darmo online gry kategorii #{@category.name}, za darmo gry kategorii #{@category.name}, online gry kategorii #{@category.name}.") %>
<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>

<div class="page-header">
  <h3><%= @category.name %></h3>
</div>

<div class="well">
  <p>Posiadamy duży zbiór gier z kategorii: <b><%= @category.name %></b> m.in. <%= category_games(@category) %> </p>
</div>

<% @games.in_groups_of(4, false) do |slice| %>
  <div class="row">
  <% slice.each do |game| %>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to image_tag(game.screen.url(:medium)), game_url(game), class: "thumbnail" %>
        <h6><%= game.title %></h6>
        <%= rating_for game, "rating", disable_after_rate: true %>
        <hr></hr>
        <%= link_to "GRAJ", game_url(game), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>